
# BankEnclave Makefile Output
Project_1/BankEnclave/BankEnclave_t.o
Project_1/BankEnclave/BankEnclave_private_key.pem
Project_1/BankEnclave.signed.so
Project_1/BankEnclave/BankEnclave_t.c
Project_1/BankEnclave/BankEnclave_t.h
Project_1/BankEnclave/BankEnclave.o
Project_1/BankEnclave.so

# BankApp Makefile Output
Project_1/bankapp
Project_1/BankApp/BankApp.o

# Other stuff that shouldn't go in git
# OMG WHY NO WORK
.vscode/settings.json
.vscode/*
.vscode/
.vscode
valgrind
bin
lib

#  |\_/|
#  | @ @   Woof!
#  |   <>              _
#  |  _/\------____ ((| |))
#  |               `--' |

#  |\---/|
#  | ,_, |
#   \_`_/-..----.
# ___/ `   ' ,""+ \
# (__...'   __\    |`.___.';
#   (_,...'(_,.`__)/'.....+

#  |\__/,|   (`\
#  |_ _  |.--.) )
#  ( T   )     /
# (((^_(((/(((_/


